<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="DBCS"
         connectionString="data source= PRANAB-PC; Integrated Security=SSPI; database=Sampledb"
         providerName="System.Data.SqlClient"/>
  </connectionString>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="EmployeeService.EmployeeService">
                <endpoint address="" binding="basicHttpBinding" contract="EmployeeService.IEmployeeService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/EmployeeService/EmployeeService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
